.gallery {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
  padding-left: 0;
}

.gallery li {
  flex: 1 1 calc(33.333% - 24px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}