ul {
    list-style: none;
    padding-left: 0;
    
}
ul li {
    border: 1px solid #000;
    padding: 8px 12px;
    margin: 20px 0;
    display: block;
    text-align: left;
    background-color: #f9f9f9;
    max-width: 300px;
    border-radius: 5px;

    
}
.name-input {
    border: 1px solid #000;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    
}
.widget {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
   
}

.change-color {
    background-color: aqua;
    border-radius: 5px ;
    padding: 8px 12px;
    border: none;
    max-width: 200px;

}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    justify-content: center;
}

.gallery li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.login-form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.sub-btn {
    background-color: aqua;
        border-radius: 5px;
        padding: 8px 12px;
        border: none;
        max-width: 200px;

}
label {
    display: flex;
    gap: 5px;
    flex-direction: column;
    max-width: 200px;
}
